@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Kanit:wght@700&display=swap');

/* Design constants */
html {
div3 {
  display:inline-flex;
  justify-content: space-between;
  background-image: url("chessboxing_background.jpg");
  color: #f9f8f8;
position: relative;
  left: 100px;

}

h1{
    list-style-type: none;
    padding: 30;
    font-size: 70px;
}
ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline-flex;
  align-items:end;
  position: relative;
  right: 120px;
}
ul1 li {
position: relative;
  left: 50px;
}
ul1 li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
div2 {
  text-align-last: center;
  float: right;
  margin-right: 150px;
  border-radius: 25px;
  padding: 25px;
}
p2{
  position: relative;
  left: 130px;
}
i{
  text-align: center;
}
div2.groove {
  border-style: groove;}

  img{
    margin: auto;
    display: block;
    width: 300px;
    height: 200px;
  }
  h2{
    position: relative;
  left: 130px;
  }
  p{position: relative;
  left: 130px;}
  li{position: relative;
  left: 130px;

  }
  blockquote{
position: relative;
  left: 130px;
  }
  table{
    position: relative;
  left: 130px;
  }
/* Change the link and background color on hover */
li a:hover {
  color: rgb(253, 253, 4);

}
    /* Harmonic scale */
    --ratio: 1.4142356;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio)); /* Larger title font size */
    --s-3: calc(var(--s-2) / var(--ratio)); /* Smaller title font size */
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem; /* table font size */
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* white spaces */
    --page-margin: var(--s4);
    --vertical-space: var(--s2);
    --menu-space: var(--s0);

    /* colors */
    --frame-color: #ccc;
}

/* Adjust page margin for small dislays */
@media only screen and (max-width: 600px) {
    :root {
        --page-margin: var(--s-2);
    }
    div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
}




/*** Page layout **********************************************************************************/


